* {
margin: 0;
padding: 0;
}
.preta {
height: 10vh
background: rgb *COR PRETA
grid area
*mesmo  com as cores*

}
.site {
display: grid;
grid-template-colums; 10% 20% 70%
grid-templates-areas:
